/* Telas pequenas (smartphones em retrato) */
@media (max-width: 480px) {

     

    .titulo-teste h1 {
        font-size: 15px;
    }

    .img img {
        width: 700px;
    }

}

/* Telas médias (smartphones em paisagem ou pequenos tablets) */
@media (min-width: 481px) and (max-width: 768px) {

    .links-img{
        flex-direction: column;
    }
    .links{
        width: 100%;
    }
   .img{
    width: 100%;
   }

    #logo {
        top: 10px;
        left: 36.5%;
        z-index: 5;
        width: 155px;
    }

    .titulo-teste h1 {
        font-size: 20px;
    }

    .img img {
        width: 160px;
    }

}

/* Telas grandes (tablets e dispositivos maiores) */
@media (min-width: 769px) and (max-width: 1024px) {

    #logo {
        top: 10px;
        left: 40.5%;
        z-index: 5;
    
    }

    .titulo-teste h1 {
        margin-top: -20px;
        font-size: 45px;
    }

    .img img {
        width: 280px;
    }

    .links a {
        font-size: 24px;
    }

    .container-doacao p {
        font-size: 18px;
    }

    .container-doacao h3 {
        font-size: 44px;
    }

    .botao-doacao a {
        font-size: 20px;
    }

    .tab{
        margin-left: 25px;
        margin-right: 25px;
        font-size: 19px;
    }


}

/* Tablets (Paisagem) */
@media (min-width: 1025px) and (max-width: 1280px) {

    .titulo-teste h1 {
        font-size: 55px;
    }
    
    .links a {
        font-size: 28px;
    }

    .img img {
        width: 345px;
    }

    .container-doacao p {
        font-size: 20px;
    }

    .container-doacao h3 {
        font-size: 44px;
    }

    .botao-doacao a {
        font-size: 24px;
    }

    .tab{
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
    }

}

/* Desktops pequenos (Laptops, por exemplo) */
@media (min-width: 1281px) and (max-width: 1440px) {

    .titulo-teste h1 {
        font-size: 42px;
    }

    .img img {
        width: 440px;
    }

    .links a {
        font-size: 27px;
    }

    .container-doacao p {
        font-size: 18px;
    }

    .container-doacao h3 {
        font-size: 44px;
    }

    .botao-doacao a {
        font-size: 24px;
        border: 2px solid rgb(6, 130, 231);
    }

    .botao-doacao a:hover{
        border: 2px solid rgb(6, 130, 231);
    }
}

/* Desktops médios */
@media (min-width: 1441px) and (max-width: 1600px) {

    .titulo-teste {
        font-size: 30px;
    }

    .img img {
        width: 470px;
    }

    .links a {
        font-size: 32px;
    }

    .botao-doacao a {
        font-size: 24px;
    }

    .container-doacao h3{
        font-size: 45px;
   }

    .container-doacao P{
    font-size: 19px;
    }

    .container-nav-topicos{

      margin-top: -50px;

    }

    .tab{
        font-size: 19px;
    }
    

}


/* Desktops grandes (Monitores grandes) */
@media (min-width: 1601px) {

 

}