/* Telas pequenas (smartphones em retrato) */
@media (max-width: 480px) {

    .links-img {
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
    }

    .links {
        margin-top: -20px;
        width: 100%;
        justify-content: center;
    }

    .img {
        width: 100%;
    }


    #logo {
        top: 10px;
        left: 36.5%;
        z-index: 5;
        width: 135px;
    }

    #up img {
        width: 30px;
    }

    .navteste {
        height: 97vh;
    }

    .titulo-teste h1 {
        font-size: 32px;
        margin-top: -45px;
        margin-bottom: 70px;
    }

    .links a {
        font-size: 23px;
        margin-bottom: 30px;
    }

    .img img {
        width: 180px;
    }

    .container-nav-topicos {
        margin-top: 70px;
        margin-bottom: 10px;
    }

    .tab {
        margin-left: 13px;
        margin-right: 13px;
        font-size: 14px;
        padding: 6px 10px 6px 10px;
    }

    iframe {
        width: 93%;
        height: 2000px;
        border: none;
    }

}

/* Telas médias (smartphones em paisagem ou pequenos tablets) */
@media (min-width: 481px) and (max-width: 768px) {

    .links-img {
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
    }

    .links {
        margin-top: -20px;
        width: 100%;
        justify-content: center;
    }

    .img {
        width: 100%;
    }


    #logo {
        top: 10px;
        left: 36.5%;
        z-index: 5;
        width: 155px;
    }

    #up img {
        width: 30px;
    }

    .navteste {
        height: 97vh;
    }

    .titulo-teste h1 {
        font-size: 37px;
    }

    .links a {
        font-size: 23px;
        margin-bottom: 15px;
    }

    .img img {
        width: 180px;
    }

    .container-nav-topicos {
        margin-top: 100px;
        margin-bottom: 55px;
    }

    .tab {
        margin-left: 13px;
        margin-right: 13px;
        font-size: 18px;
        padding: 6px 10px 6px 10px;
    }

    iframe {
        width: 93%;
        height: 2000px;
        border: none;
    }


}

/* Telas grandes (tablets e dispositivos maiores) */
@media (min-width: 769px) and (max-width: 1024px) {

    #logo {
        width: 160px;
        top: 5px;
        left: 42.5%;
        z-index: 5;

    }

    #up img {
        width: 40px;
    }

    .titulo-teste h1 {
        margin-top: -20px;
        font-size: 30px;
    }

    .img img {
        width: 280px;
    }

    .links a {
        font-size: 23px;
    }


    .tab {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 19px;
    }


    iframe {
        width: 93%;
        height: 1350px;
        border: none;
    }


}

/* Tablets (Paisagem) */
@media (min-width: 1025px) and (max-width: 1280px) {

    #logo {
        width: 140px;
        top: 5px;
        left: 44.5%;
        z-index: 5;
    }

    #up img {
        width: 37px;
    }

    .titulo-teste h1 {
        font-size: 35px;
    }

    .links a {
        font-size: 26px;
    }

    .img img {
        width: 345px;
    }

    .tab {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
    }

    iframe {
        width: 93%;
        height: 1250px;
        border: none;
    }

}

/* Desktops pequenos (Laptops, por exemplo) */
@media (min-width: 1281px) and (max-width: 1440px) {


    #logo {
        width: 130px;
        top: 5px;
        left: 45.5%;
        z-index: 5;
    }

    #up img {
        width: 49px;
    }

    .titulo-teste h1 {
        margin-top: 10px;
        font-size: 37px;
    }

    .img img {
        width: 440px;
    }

    .links a {
        font-size: 27px;
    }

    .tab {
        font-size: 19px
    }

    iframe {
        width: 93%;
        height: 1250px;
        border: none;
    }
}

/* Desktops médios */
@media (min-width: 1441px) and (max-width: 1600px) {

    #logo {
        width: 140px;
        top: 5px;
        left: 45%;
        z-index: 5;
    }

    .titulo-teste {
        font-size: 30px;
    }

    .img img {
        width: 470px;
    }

    .links a {
        font-size: 32px;
    }

    .tab {
        font-size: 19px;
    }

    #up img {
        width: 50px;
    }

    iframe {
        width: 93%;
        height: 1250px;
        border: none;
    }

}


/* Desktops grandes (Monitores grandes) */
@media (min-width: 1601px) {}