@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Hammersmith+One&family=Lexend:wght@100..900&family=Montserrat:wght@447&family=Readex+Pro:wght@160..700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    flex-direction: column;
}

.container {
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    /* 20px em cima e em baixo e automática èsquerda e direto*/
    margin: 20px auto;
    background: white;
    /* espaçamento interno é nos 4 lados */
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    align-items: center;
}

h2 {
    text-align: center;
    background-color: rgb(16, 165, 252);
    padding: 5px;
    width: 300px;
    border-radius: 35px;
    border-color: rgb(214, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

table tr td {
    padding: 20px;
}

table {
    /* esp. externo de 0 acima e abaixo e automático esq. dir. */
    margin: 0 auto;
}

.laranja {
    background-color: orange;
}

.azul {
    background-color: blue;
    color: white;
}

.preta {
    background-color: black;
    color: white;
}

.roxo {
    background-color: purple;
}

.verde {
    background-color: green;
}

.vermelha {
    background-color: red;
}

/* CALCULADORA */

.campos{
    display: flex;
    flex-direction: column;
   justify-content: center;
    margin: 15px;
    text-align: center;
    width: 100%;
    background-color: rgb(16, 165, 252);
    border-radius: 5px;
    font-weight: bold;
}

.campos label{
    margin-bottom: 5px;
    padding: 3px;
}

.campos button{
    font-family: "Montserrat", serif;
    font-size: 15px;
    background-color: rgb(16, 165, 252);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

