@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Hammersmith+One&family=Lexend:wght@100..900&family=Montserrat:wght@447&family=Readex+Pro:wght@160..700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    justify-content: center
}

#logo {
    position: absolute;
    width: 175px;
    top: 10px;
    left: 45%;
    z-index: 5;
}

#up{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 130, 231);
    z-index: 5;
    border-radius: 30px;
    border: 4px solid rgb(7, 62, 107);
    right: 15px;
    bottom: 15px;
    vertical-align: auto;
    cursor: pointer;
    transition: 0.5s;
}

#up:hover{
    background-color: rgb(7, 62, 107);
    transition: 0.5s;
}

#up img{
    width: 65px;
}

.navteste {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/foto_unifacef_oficial_2023_Easy-Resize.com_.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.904));
    z-index: 1;
}

.titulo-teste {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: "Readex Pro", serif;
    font-size: 31px;
    z-index: 1;
    text-align: center;
    letter-spacing: 2px;
}

.links-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    z-index: 1;
    margin-top: 50px;
}



.img {
    display: flex;
    margin-top: -15px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.img img {
    max-width: 650px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    transition: transform 0.2s ease-out;
}

.img img:hover {
    transform: translateY(-6px);
}

.links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    width: 30%;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 37px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    border-radius: 4px;
    position: relative;
    transition: transform 0.2s ease-out;
    transition: 0.5s;
}

.links a:hover {
    transform: translateY(-6px);
    color: rgb(16, 165, 252);
    transition: 0.5s;
}

.container-doacao {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    height: 400px;
}

.conteudo-doacao {
    width: 65%;
    text-align: left;
    margin-left: 50px;
}

.container-doacao h3,
p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
}

.container-doacao h3 {
    color: rgb(6, 130, 231);
    font-size: 55px;
}

.botao-doacao {
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.botao-doacao a {
    background-color: rgb(6, 130, 231);
    text-decoration: none;
    color: white;
    border: 4px solid rgb(6, 130, 231);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 34px;
    padding: 13px 19px 13px 19px;
    border-radius: 50px;
    transition: 0.5s;
}

.botao-doacao a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.container-nav-topicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: 55px;
}

#fundo-nav2 {
    background-color: rgb(6, 130, 231);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px 12px 20px 12px;
}

.tab {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 23px;
    color: white;
    font-family: "Montserrat", serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 25px;
    padding: 8px 12px 8px 13px;
    cursor: pointer;
    transition: 0.5s;
}

.tab:hover {
    background-color: white;
    color: rgb(22, 124, 208);
    transition: 0.5s;
}

#dados{
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 80%;
    height: 850px;
    border: none;
}

